* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 4px solid skyblue;
}

.box {
    width: 400px;
    height: auto;
    padding: 30px;
    border: 2px solid skyblue;
    transition: transform 3s ease-in-out 0s, height 3s linear 0s, background-color 3s ease-in-out 0s, color 3s ease-in-out 0s;
}

.box:hover {
    transform: rotate(180deg) translate(0, 0);
    height: calc(auto + 200px);
    background-color: black;
    color: antiquewhite;
}